# Binaries for programs and plugins
shortcut
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log

# Build directories
dist/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Editors
.vscode

#macos
.DS_Store
