#upload-progressbar {
    position: fixed;
    left: 50%;
    bottom: 50%;
    background-color: #fff;
    padding: 10px;
    display: none;
}

body {
    padding: 20px;
}

#main-area {
    height: 100vh;
}

th, td {
	padding: .3em .5em;
}

th {
	font-weight: normal;
	text-align: left;
	padding-left: 15px;
}

thead th {
	padding-left: .5em;
}

tbody td.start {
	padding-left: 26px;
}

tbody th.end {
	padding-left: 26px;
}