#upload-progressbar {
    position: fixed;
    left: 50%;
    bottom: 50%;
    background-color: #fff;
    padding: 10px;
    display: none;
}

body {
    padding: 20px;
}

#main-area {
    height: 100vh;
}

th, td {
	padding: .3em .5em;
}

th {
	font-weight: normal;
	text-align: left;
	padding-left: 15px;
}

thead th {
	padding-left: .5em;
}

tbody td.start {
	padding-left: 26px;
}

tbody th.end {
	padding-left: 26px;
}

.copyMessage {
    font-size: 14px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    opacity: 0;
    margin: 10px;
    vertical-align: super;
}

.modal-content-custom {
    margin: 24px;
}

#clipboard-add-btn i {
    margin-left: 0;
}

#toggle-icon {
    margin: 0;    
}

/* Dark mode */

body {
    background-color: #eee;
    transition: color 1s ease, background-color 1s ease;
}
body.dark {
    background-color: #202123;
    color: #fff;
}
body.dark nav {
    background-color: #26A69A;
}
body.dark .card {
    background-color: rgba(255, 255, 255, 0.2);
}
body.dark .btn {
    background-color: #EE6F73;
}
body.dark .divider {
    opacity: 0.2;
}
body.dark .sidenav {
    background-color: #2D2D31;
}
body.dark .sidenav li a:not(.subheader) {
    color: #89B2F5;
}
body.dark .sidenav li a:not(.subheader):hover {
    background-color: #3B4043;
}
body.dark .sidenav li a.subheader {
    color: #9AA0A6;
}
body.dark .sidenav li a .material-icons {
    color: #9AA0A6;
}
body.dark .modal {
    background-color: #2D2D31;
}
body.dark .modal .collection {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark .modal .collection .collection-item {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark .secondary-content {
    color: #EE6F73;
}

body.dark #clipboard-content {
    color: #fff;
}